<nav class="flex flex-row bg-white sticky top-0 w-full z-50 shadow-md rounded-lg items-center px-8 py-4 justify-between">
    <div class="flex flex-row items-center gap-x-4">
        <h1 class="text-4xl font-extrabold text-[#2E8A99] bg-clip-text drop-shadow-lg tracking-wide">
    Budget<span class="text-[#1E3A47]">Buddy</span>
</h1>
        <img src="logo.png" alt="" class="h-14 w-16">
    </div>
    <div class="flex flex-row items-center gap-x-4">
        <a routerLink="/dashboard" class="text-[#2E8A99] font-bold text-lg px-4 py-2 rounded-lg border-2 border-[#2E8A99] hover:bg-[#2E8A99] hover:text-white transition-all duration-300 shadow-md">
        DASHBOARD</a>
        <a href="" class="text-[#2E8A99] font-bold text-lg px-4 py-2 rounded-lg border-2 border-[#2E8A99] hover:bg-[#2E8A99] hover:text-white transition-all duration-300 shadow-md">
        Visual Board</a>
        <a href="" class="text-[#2E8A99] font-bold text-lg px-4 py-2 rounded-lg border-2 border-[#2E8A99] hover:bg-[#2E8A99] hover:text-white transition-all duration-300 shadow-md">
        About</a>
    </div>
</nav>
<router-outlet></router-outlet>